@import "/src/sass/imports";

$cell-padding: $spacer-1 0 $spacer-1 $spacer-1;
$table-link-hover-color: $primary-alt;

.table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.table__head {
	.table__row, .table__row:first-of-type {
		border-bottom: none;
		border-top: none;

		&:hover {
			background-color: transparent;
			color: $white;
		}
	}
}

.table__header-cell {
	text-align: left;
	padding: $cell-padding;
}

.table__body {}

.table__body-cell {
	padding: $cell-padding;
}

.table__row {
	$table-row-border: 1px solid $dark-gray;

	border-bottom: $table-row-border;

	&:first-of-type {
		border-top: $table-row-border;
	}

	&:nth-of-type(2n) {
		background-color: $light-gray;
	}

	&:hover {
		background-color: $primary;
		color: $less-dark-gray;

		a {
			color: $less-dark-gray;
		}

		a:hover {
			color: $table-link-hover-color;
		}
	}
}